spring:
    datasource:
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: ${DB_URL}
        username: ${DB_USERNAME}
        password: ${DB_PASSWORD}
        hikari:
            maxLifetime: 580000
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: false
        properties:
            hibernate:
                format_sql: true
        open-in-view: false
        database: mysql

    redis:
        host: ${REDIS_HOST}
        port: ${REDIS_PORT:6379}

    jackson:
        property-naming-strategy : SNAKE_CASE

    cache:
        type: simple
    mail:
        host: smtp.gmail.com
        port: 587
        username: ${MAIL}
        password: ${MAIL_PASSWORD}
        properties:
            mail:
                smtp:
                    auth: true
                    starttls:
                        enable: true
                        required: true


auth:
    jwt:
        secretKey: ${JWT_SECRET_KEY}
        accessExp: ${JWT_ACCESS_EXP}
        refreshExp: ${JWT_REFRESH_EXP}
        header: ${JWT_HEADER}
        prefix: ${JWT_PREFIX}

server:
    servlet:
        context-path: /dsm-pick
    url:
        ${SERVER_URL}

url:
    neis: ${NEIS_URL}
    daedongyeojido: ${DAE_URL}
    dsmlogin: ${DSM_LOGIN}

open-feign:
    neis-key: ${NEIS_KEY}

discord:
    webhook:
        message: ${WEBHOOK_MESSAGE}

cloud:
    aws:
        credentials:
            accessKey: ${AWS_ACCESS_KEY}
            secretKey: ${AWS_SECRET_KEY}
        s3:
            bucket: ${AWS_BUCKET}
            exp-time: 604800000
        region:
            static: ${AWS_STATIC}
        stack:
            auto: false

servlet:
    multipart:
        max-file-size: 10MB
        max-request-size: 10MB

firebase:
    messaging:
        url:
            host: ${FIREBASE_HOST}
            path: ${FIREBASE_PATH}
            key: ${FIREBASE_KEY_JSON}
            credentials: ${FIREBASE_CREDENTIALS_URL}

google:
    client-id: ${GOOGLE_CLIENT_ID}
    client-secret: ${GOOGLE_CLIENT_SECRET}
    redirect-uri: ${GOOGLE_REDIRECT_URI}

admin:
    secret-key: ${ADMIN_SECRET_KEY}
