spring:
    datasource:
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: ${DB_URL}
        username: ${DB_USERNAME}
        password: ${DB_PASSWORD}
        hikari:
            maxLifetime: 580000
    jpa:
        hibernate:
            ddl-auto: none
        show-sql: false
        properties:
            hibernate:
                format_sql: true
        open-in-view: false
        database: mysql

    redis:
        host: ${REDIS_HOST}
        port: ${REDIS_PORT:6379}

    jackson:
        property-naming-strategy : SNAKE_CASE

    cache:
        type: simple
    mail:
        host: smtp.gmail.com
        port: 587
        username: ${MAIL}
        password: ${MAIL_PASSWORD}
        properties:
            mail:
                smtp:
                    auth: true
                    starttls:
                        enable: true
                        required: true

    application:
      admin:
          enabled: false

    kafka:
        bootstrap-servers: ${BOOTSTRAP_SERVERS}

        producer:
            key-serializer: org.apache.kafka.common.serialization.StringSerializer
            value-serializer: org.apache.kafka.common.serialization.StringSerializer

logging:
    level:
        com.adjh.springbootkafka: DEBUG
        org:
            apache.kafka: INFO
            springframework.kafka: INFO

auth:
    jwt:
        secretKey: ${JWT_SECRET_KEY}
        accessExp: ${JWT_ACCESS_EXP}
        refreshExp: ${JWT_REFRESH_EXP}
        header: ${JWT_HEADER}
        prefix: ${JWT_PREFIX}

server:
    servlet:
        context-path: /dsm-pick
    url:
        ${SERVER_URL}

url:
    neis: ${NEIS_URL}
    daedongyeojido: ${DAE_URL}
    dsmlogin: ${DSM_LOGIN}

open-feign:
    neis-key: ${NEIS_KEY}

discord:
    webhook:
        message: ${WEBHOOK_MESSAGE}

cloud:
    aws:
        credentials:
            accessKey: ${AWS_ACCESS_KEY}
            secretKey: ${AWS_SECRET_KEY}
        s3:
            bucket: ${AWS_BUCKET}
            exp-time: 604800000
            fcm-config-key: ${FCM_CONFIG_KEY}
        region:
            static: ${AWS_STATIC}
        stack:
            auto: false

servlet:
    multipart:
        max-file-size: 10MB
        max-request-size: 10MB

firebase:
    messaging:
        url:
            host: ${FIREBASE_HOST}
            path: ${FIREBASE_PATH}
            key: ${FIREBASE_KEY_JSON}
            credentials: ${FIREBASE_CREDENTIALS_URL}

google:
    client-id: ${GOOGLE_CLIENT_ID}
    client-secret: ${GOOGLE_CLIENT_SECRET}
    redirect-uri: ${GOOGLE_REDIRECT_URI}

admin:
    secret-key: ${ADMIN_SECRET_KEY}

debezium:
    enabled: true

    connect-url: ${DEBEZIUM_CONNECT_URL}

    connector:
        name: ${DEBEZIUM_CONNECTOR_NAME}

    database:
        hostname: ${DEBEZIUM_DATABASE_HOSTNAME}
        port: ${DEBEZIUM_DATABASE_PORT}
        user: ${DEBEZIUM_DATABASE_USER}
        password: ${DEBEZIUM_DATABASE_PASSWORD}
        server-id: ${DEBEZIUM_DATABASE_SERVER_ID}
        server-name: ${DEBEZIUM_DATABASE_SERVER_NAME}
        include-list: ${DEBEZIUM_DATABASE_INCLUDE_LIST}

    schema:
        kafka-bootstrap-servers: ${DEBEZIUM_SCHEMA_KAFKA_BOOTSTRAP_SERVERS}
        history-topic: ${DEBEZIUM_SCHEMA_HISTORY_TOPIC}
        replication-factor: ${DEBEZIUM_SCHEMA_REPLICATION_FACTOR}
        include-schema-changes: ${DEBEZIUM_SCHEMA_INCLUDE_SCHEMA_CHANGES}

    outbox:
        table-include-list: ${DEBEZIUM_OUTBOX_TABLE_INCLUDE_LIST}
        topic-prefix: ${DEBEZIUM_OUTBOX_TOPIC_PREFIX}
        table-name: ${DEBEZIUM_OUTBOX_TABLE_NAME}
        field-event-id: ${DEBEZIUM_OUTBOX_FIELD_EVENT_ID}
        field-event-key: ${DEBEZIUM_OUTBOX_FIELD_EVENT_KEY}
        field-event-type: ${DEBEZIUM_OUTBOX_FIELD_EVENT_TYPE}
        field-payload: ${DEBEZIUM_OUTBOX_FIELD_PAYLOAD}
        route-by-field: ${DEBEZIUM_OUTBOX_ROUTE_BY_FIELD}
