spring:
    config:
        import: "optional:configserver:"
    datasource:
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: ${DB_URL}
        username: ${DB_USERNAME}
        password: ${DB_PASSWORD}
        hikari:
            maxLifetime: 580000
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate:
                format_sql: true
        open-in-view: false
        database: mysql

    redis:
        host: ${REDIS_HOST}
        port: ${REDIS_PORT:6379}

    jackson:
        property-naming-strategy : SNAKE_CASE

auth:
    jwt:
        secretKey: ${JWT_SECRET_KEY}
        accessExp: ${JWT_ACCESS_EXP}
        refreshExp: ${JWT_REFRESH_EXP}
        header: ${JWT_HEADER}
        prefix: ${JWT_PREFIX}

server:
    servlet:
        context-path: /dsm-pick

url:
    neis: ${NEIS_URL}
    daedongyeojido: ${DAE_URL}
    dsmlogin: ${DSM_LOGIN}
