name: Ktlint Ci

on: [pull_request]

jobs:
    ktlint:
        name: Check Code Quality
        runs-on: ubuntu-latest
        strategy:
            matrix:
                os: [ ubuntu-latest ]
                java-version: [ 17 ]

        steps:
            - uses: actions/checkout@v2
            - name: Set up JDK
              uses: actions/setup-java@v2
              with:
                  java-version: ${{ matrix.java-version }}
                  distribution: 'zulu'

            - name: Clone repo
              uses: actions/checkout@master
              with:
                  fetch-depth: 1

            - name: ktlint
              uses: ScaCap/action-ktlint@master
              with:
                  github_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
                  reporter: github-pr-check # Change review
                  fail_on_error: true
